@import './base.less';

// #app {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;

//   font-weight: normal;
// }
.flex-row-wrap {
  display: flex;
  flex-wrap: wrap;
}

@media print{
  div:not(#demo) {
    display: none !important;
  }
}

